
<!-- saved from url=(0030)https://www.danielfischer.com/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Mayra Navarro</title>
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="./style.css">
    <!-- YOU ARE AWESOME! <3 -->
    <!-- BE YOUR BEST! -->
<style type="text/css"></style></head>

<body>
    <main>
        <h1>Mayra Navarro</h1>
        <p class="lead">Currently, I'm a Junior Ruby (In-process) programmer..</p>
        <p>I'm appasionate about cats and protecting the environment.
          Member of the first Codeable immersive coding bootcamp made in Peru.</p>
        <p>
        </p>
        <h2>Quotes</h2>
        <blockquote>
            <p>
                I have known Lucia for a long time and I was fortunate to be able to work with her. 
                Responsible, excellent working as a team and dedicated to their work. Lucia is a perfect addition for any work team.
            </p>
            <footer>
                -
                <cite>
                    Alvaro Tejada Galindo
                    <strong>Senior Developer Evangelist at SAP</strong>
                </cite>
            </footer>
        </blockquote>

        <blockquote>
            <p>
               Mayra is a person with whom it gives pleasure to work for the enthusiasm that she puts in the things. He is responsible and proactive, without fear of taking on new responsibilities. Many successes in all your projects Mayra!
            </p>
            <footer>
                -
                <cite>
                    Milagros De Pomar
                    <strong>Lead GBS Counsel for Latin America at IBM</strong>
                </cite>
            </footer>
        </blockquote>

        <blockquote>
            <p>
                Mayra has been my student in the faculty of Systems Engineering at the University of Lima, where she showed great enthusiasm, ease of teamwork and a desire to learn. In the IT Infrastructure courses where I was his professor he had an outstanding participation and has great potential.
            </p>
            <footer>
                -
                <cite>
                    Manuel Yrigoyen Quintanilla, CISM, CRISC, CGEIT, COBIT
                    <strong>Lead GBS Counsel for Latin America at IBM</strong>
                </cite>
            </footer>
        </blockquote>


        <section>
            <h1>Links</h1>
            <ul>
                <li>
                    <a href="mailto:luciagirasoles@gmail.com?subject=Hey,%20Mayra!">E-mail</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/mayra-navarro-a7412626/">LinkedIn</a>
                </li>
                <li>
                    <a href="https://github.com/luciagirasoles">GitHub</a>
                </li>
                <li>
                    <a href="https://twitter.com/mayralunavarro">Twitter</a>
                </li>
                </li>
            </ul>
        </section>
    </main>



</body></html>